@font-face {
  font-family: "Favorit";
  src: url("./fonts/ABCFavoritMono-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: Favorit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 1em;
  font-weight: 100;
  text-align: top;
  margin: 0;
  padding-left: 1.3em;
}

section a {
  display: grid;
  grid-template-columns: 50px 100px 1fr;
  height: 50px;
  width: 100vw;
  border-top: 1px solid black;
  align-items: center;
  padding-left: 1.3em;
  padding-right: 1.3em;
  width: calc(100vw - 2.6em);
}

section > :nth-child(4) {
  border-bottom: 1px solid black;
}
section > :nth-child(1) {
  border-top: 0px solid black;
}

section a > :nth-child(3) {
  text-align: right;
}

header a {
  text-align: right;
}
