@font-face {
  font-family: "Favorit";
  src: url("fonts/ABCFavoritMono-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --background-light: #ffffff;
  --background-dark: black;
  --foreground-light: black;
  --foreground-dark: #ffffff;
  --border-light: black;
  --border-dark: white;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Favorit;
  background-color: var(--background-light);
  color: var(--foreground-light);
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

body.dark-mode section a {
  border-top-color: var(--border-dark);
  border-bottom-color: var(--border-dark);
}


h1 {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
  padding-left: 1.3em;
}

a {
  color: inherit;
  text-decoration: none;
}

section a {
  display: grid;
  grid-template-columns: 50px 100px 1fr;
  height: 50px;
  width: 100vw;
  align-items: center;
  padding-left: 1.3em;
  padding-right: 1.3em;
  width: calc(100vw - 2.6em);
  border-top: 1px solid var(--border-light);
  transition: 
    border-top-color 500ms ease-in-out, 
    border-bottom-color 500ms ease-in-out;
}

section > :nth-child(1) {
  border-top: 0px solid var(--border-light);
}

section > :nth-child(4) {
  border-bottom: 1px solid var(--border-light);
}

section a > :nth-child(3) {
  text-align: right;
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

body.dark-mode section a {
  border-top-color: var(--border-dark);
  border-bottom-color: var(--border-dark);
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-background {
  background: linear-gradient(-45deg, black, rgb(45, 45, 45), rgb(81, 81, 81));
  background-size: 300% 300%;
  transition: background-position 5s ease;
}

@media (max-width: 768px) {
  .animated-background {
    animation: gradient-animation 10s linear infinite;
  }
}


@media only screen and (max-width: 900px) {

  h1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}