.page {
  height: 100vh;
  width: 100vw;
}

.main {
  display: grid;
  grid-template-rows: 1fr 50px;
  height: inherit;
  width: inherit;
}

.header {
  display: grid;
  width: inherit;
  grid-template-columns: 1fr 100px 100px;
}

.header > :nth-child(2) {
  padding-right: 1.3em;
}

.arrow {
  font-size: 1.2em;
  vertical-align: middle;
}

.githubLink {
  margin-top: -2px;
  padding-right: 1.3em;
}