.page {
  height: 100vh;
  width: 100vw;
}

.main {
  display: grid;
  grid-template-rows: 1fr 50px;
  height: inherit;
  width: inherit;
}

.header {
  display: grid;
  width: inherit;
  grid-template-columns: 1fr 100px 100px;
}

.arrow {
  font-size: 1.2em; /* Ajusta el tamaño que prefieras */
  vertical-align: middle; /* Para alinear la flecha verticalmente */
}

.githubLink {
  margin-top: -2px;
}